<head>
  <title>{{ site.title }}</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{{ site.description }}">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  <link href="https://fonts.googleapis.com/css?family=Hind&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/main.css">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/syntax.css">
</head>
